body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(https://i.imgur.com/lY1EVlg.jpg);
    background-size: cover;
}

/*div {
    background-color: white;
} */

#game {
    justify-content: center;
}


h1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

h2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#slots {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#spinButton {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#money {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#slotZero {
    height: 300px;
    width: 300px;
    font-size: 30px;
    text-align: center;
}

#slotOne {
    height: 300px;
    width: 300px;
    font-size: 30px;
    text-align: center;
}

#slotTwo {
    height: 300px;
    width: 300px;
    font-size: 30px;
    text-align: center;
}

#moneyAmount {
    height: 100px;
    width: 100px;
    font-size: 30px;
    text-align: center;
    border: 1px solid;
    line-height: 100px; /* centers the content when the same as your width */
}

#spins {
    height: 100px;
    width: 100px;
    font-size: 30px;
    text-align: center;
    border: 1px solid;
    line-height: 100px; /* centers the content when the same as your width */
}

.results.1 {
    background-image: url(https://i.imgur.com/HVZluNa.jpg);
}














/* div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 200px;
    width: 500px;
    font-size: 40px;
    text-align: center;
    border: 1px solid;
    line-height: 200px;
} */