@font-face {
    font-family: 'YellowSubmarine';
    font-style: normal;
    font-weight: normal;
    src: local('YellowSubmarine'), url('../css/fonts/beatles.woff') format('woff');
    }

h1 {
    color: rgb(237, 0, 0);
    font-family: 'YellowSubmarine';
    font-size: 100px;
    margin: auto;
    padding: 20px;
} 

h2 {
    color: rgb(237, 0, 0);
    font-family: 'YellowSubmarine';
    font-size: 50px;
    margin: auto;
    padding: 20px;
} 

body {
    display: flex;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    background-color: rgb(247, 211, 0);;
} 

#slots {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#img1 {
    border-radius: 150px;
    align-items: center; 
    padding: 15px;
    margin: auto;
}

#img2 {
    border-radius: 150px;
    align-items: center;
    padding: 15px;
    margin: auto;
}

#img3 {
    border-radius: 150px;
    align-items: center;
    padding: 15px;
    margin: auto;
}

#img4 {
    border-radius: 150px;
    align-items: center;
    padding: 15px;
    margin: auto;
}

#btn {
    height: 75px;
    width: 200px;
    background-color: rgb(237, 0, 0);
    color: rgb(239, 234, 231);
    font-family: 'YellowSubmarine';
    font-size: 30px;
    border: 3px solid;
    border-color: rgb(239, 234, 231);
    border-radius: 50px;
    outline: none;
    margin: auto;
    padding: 15px;
}

#moneyAmount {
    height: 100px;
    width: 100px;
    line-height: 100px;
    background-color: rgb(239, 234, 231);
    color: black;
    font-family: 'YellowSubmarine';
    font-size: 30px;
    text-align: center;
    border: 3px solid;
    border-radius: 100px;
    border-color: rgb(237, 0, 0);
}